body {
  margin: 0px;
  background: url('../img/background.jpg');
  /* background-color: #730a2d; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}