{% extends 'layout.html' %}

{% block body %}
	<h1 class="text-white animated fadeIn">Nearby Rides</h1>
	<br>
	<hr color="white">
	<p class="text-white lead">
		List of all the rides available in your city
	</p>
	<hr color="white">
	<div class="row">
		{% for ride in rides %}
			<div class="col-lg-4 animated fadeInUp">
				<div class="card border-primary mb-3">
					<div class="card-header">Ride Time : {{ ride.rideTime }}</div>
					<div class="card-body text-primary">
						<h4 class="card-title">{{ ride.fromLocation }}&nbsp;to&nbsp;{{ ride.toLocation }}</h4>
						<p class="card-text">
							<p>
								{{ ride.city }},
								{{ ride.state }},
							</p>
							<p>
								<b>Shared by :</b> {{ ride.fname }}&nbsp;{{ ride.lname }}
								<br>
								<b>Gender :</b> {{ ride.gender }}
								<br>
								<b>Contact No :</b> {{ ride.contactNo }}
							</p>
							<form action="" method="POST" class="text-center">
								<input type="hidden" value="{{ ride.RideId }}" name="rideId">
								<button class="btn btn-primary" type="submit">Send Request</button>
							</form>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}