{% extends 'layout.html' %}

{% block body %}
	<h1 class="animated fadeIn">Share Ride</h1>
	<br>
	<hr>
	<p class="lead">
		Share your ride
	</p>
	<hr>
	<div class="row">
		<form action="" method="POST">
			<div class="form-group">
				<input type="text" name="fromLocation" placeholder="From" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="text" name="toLocation" placeholder="To" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="text" name="city" placeholder="City" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="text" name="state" placeholder="State" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="datetime" name="date" placeholder="Date and Time" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="datetime" name="date" placeholder="Date and Time" class="form-control" required>
			</div>
				<button type="submit" class="btn btn-primary">Share Ride</button>
			</p>
		</form>
	</div>
{% endblock %}