{% extends 'layout.html' %}

{% block body %}
    <h1 class="text-white animated fadeIn">About</h1>
    <br>
    <hr color="white">
        <div class="jumbotron animated fadeInUp">
            <br><br>
            <p class="lead">
                Hello Hokies! Welcome to VT Carpooling.
                <br><br>
                One stop solution to share rides at affordable prices
                <br><br>
                <h4>How it works?</h4>
                People that are interested in sharing their vehicle can be found there. You can search for rides that are available in your city. Send them a request to join their ride if you discover one going to your location. They can get in touch with you and accept your request if they're also interested..
                <br>
                You can also share your Ride, on the other hand. You can share your ride and provide information about it, including its timing and destination. Requests for your ride will come from those who are interested. You may view every request. Make contact with the person you find appealing. Accept the requested action. and You two can travel together.
                <br><br>
                With VT Carpooling we're aiming to provide additional transportation options to VT students at affordable prices. It will also conserve resources and people can personally save money. We're excited to see how you make use of it.
            </p>
            <br><br>
            {% if session.logged_in %}
                <div class="text-center">
                    <a class="btn btn-lg btn-success" href="/shareRide">Share Ride</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-lg btn-primary" href="/nearbyRides">Nearby Rides</a>
                </div>
            {% else %}
            {% endif %}
        </div>

    <hr>
{% endblock %}