{% extends 'layout.html' %}

{% block body %}
	<h1 class="text-white animated fadeIn">Accepted Rides</h1>
	<br>
	<hr color="white">
	<p class="text-white lead">
		All the Accepted Users For Your Rides
	</p>
	<hr color="white">
	<div class="row">
		{% for rideRequest in acceptedRides %}
			<div class="col-lg-4 animated fadeInUp">
				<div class="card border-primary mb-3">
					<div class="card-header">On <b>{{ rideRequest[0] }}</b> at <b>{{ rideRequest[1] }}</b></div>
					<div class="card-body text-primary">
						<h4 class="card-title">{{ rideRequest[2] }}&nbsp;to&nbsp;{{ rideRequest[3] }}</h4>
						<p class="card-text">
							<p>
								{{ rideRequest[4] }}, {{ rideRequest[5] }}
							</p>
							<p>
								<b>Request by :</b> {{ rideRequest[6] }}&nbsp;{{ rideRequest[7] }}
								<br>
								<b>Gender :</b> {{ rideRequest[8] }}
								<br>
								<b>Contact No :</b> {{ rideRequest[9] }}
							</p>
							<form action="" method="POST" class="text-center">
								<input type="hidden" value="{{ rideRequest[1] }}" name="rideId">
							</form>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}