{% extends 'layout.html' %}

{% block body %}
	<h1 class="text-white animated fadeIn">Settings</h1>
	<br>
	<hr color="white">
	<div class="jumbotron animated fadeInUp">
		<p class="lead">
			Personalize Your Profile
		</p>
		<hr>
		<div class="row">
			<div class="card-body text-primary">
				<form action="" method="POST">
					<div class="form-group">
						<label for="">Contact No</label>
						<input type="text" name="contactNo" class="form-control" value="{{ userData[6] }}" required>
					</div>
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" name="email" class="form-control" value="{{ userData[8] }}" required>
					</div>
					<div class="form-group">
						<label for="">Gender</label>
						<select name="gender" class="form-control" required>
							<option value="">Select Gender</option>
							<option value="MALE" 
								{% if userData[3] == 'MALE' %} 
									selected 
								{% endif %}>
							Male</option>
							<option value="FEMALE" 
								{% if userData[3] == 'FEMALE' %} 
									selected 
								{% endif %}>
							Female</option>
						</select>
					</div>
					<hr>
					<div class="form-group">
						<label for="">Driving Licence</label>
						<input type="text" name="driving" class="form-control" value="{% if userData[4] %}{{ userData[4] }}{% endif %}" required>
					</div>
					<div class="form-group">
						<label for="">PID</label>
						<input type="text" name="aadharID" class="form-control" value="{% if userData[5] %}{{ userData[5] }}{% endif %}" required>
					</div>
					<hr>
					<div class="form-group">
						<label for="">Address Line 1</label>
						<input type="text" name="addLine1" class="form-control" value="{{ userData[11] }}" required>
					</div>
					<div class="form-group">
						<label for="">Address Line 2</label>
						<input type="text" name="addLine2" class="form-control" value="{{ userData[12] }}" required>
					</div>
					<div class="form-group">
						<label for="">Colony</label>
						<input type="text" name="colony" class="form-control" value="{{ userData[13] }}" required>
					</div>
					<div class="form-group">
						<label for="">City</label>
						<input type="text" name="city" class="form-control" value="{{ userData[14] }}" required>
					</div>
					<div class="form-group">
						<label for="">State</label>
						<input type="text" name="state" class="form-control" value="{{ userData[15] }}" required>
					</div>
					<br>
					<p class="text-center">
						<button type="submit" class="btn btn-primary">Update Profile</button>
					</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}