{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center animated fadeInUp">
		<h1 class="animated fadeIn">Terms and Conditions</h1>
		<br>
		<hr>
		<p class="lead">
			<ul class="text-left">
				<li> All rights are reserved to Trashh Cashh</li>
				<li> TrashhCashh does not allow copy of any of the material used in the website or sevice</li>
				<li> Logo and designs are trademark of trashhcashh</li>
				<li> Blah blah some shit blah blah some shit.</li>
			</ul>
		</p>
		<hr>
	</div>
{% endblock %}